#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes spinVertically {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinHorizontally {
  from {
    transform: rotateY(0deg)
  } to {
    transform: rotateY(360deg)
  }
}

.loading-sign {
  animation: spinHorizontally 1s linear infinite normal forwards;
}